<main>
    <div style="background-color: #4f3183">
        <div class="container py-5">
            <h1 class="text-warning display-2 roboto">Welcome Everyone!</h1>
        </div>
    </div>
    <div class="container my-5">
        <div class="step-container">
            <h1>Web Scraper Application</h1>
            <p>This project is a full-stack web scraper built with <strong>Typescript</strong>,
                <strong>Node.js</strong>,
                <strong>MongoDB</strong>, and
                <strong>Angular18</strong>. The backend performs web
                scraping to extract book-related data from a website, which is then saved into a .json file. The
                <strong>MongoDB</strong>
                database is populated based on the data stored in this file, ensuring a structured and efficient
                data-handling process.
            </p>
            <p>The scraping logic is handled by <strong>Puppeteer</strong> and <strong>Cheerio</strong>, with the
                extracted
                data
                saved in <strong>JSON</strong> format before
                being used to populate the database via a <strong>Node.js</strong> script. This allows for easy updates
                and modifications of
                the scraped data before insertion into <strong>MongoDB</strong>.</p>
            <p>The frontend, developed with <strong>Angular18</strong> and styled with <strong>Bootstrap</strong>,
                offers a
                simple, intuitive, and responsive user
                interface where users can easily view the scraped data, including book titles, authors, and
                descriptions.
                The
                use of <strong>Bootstrap</strong> ensures that the application looks great on various devices and screen
                sizes, enhancing
                usability and accessibility. It also implements <strong>Angular18</strong> routing to allow smooth
                navigation between different
                sections of the application.</p>
        </div>
    </div>
</main>