<div class="bg-dark">
    <div class="container py-3">
        <footer class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>
                <span class="text-white">&copy; 2024,
                    Gengiu Robert - Constantin. All rights reserved.</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="https://github.com/GengiuRobert"><i
                            class="fab fa-github"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/robertg09?utm_source=qr"><i
                            class="fab fa-instagram"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="mailto:robert.gengiu03@gmail.com"><i
                            class="fas fa-envelope"></i></a></li>
                <li class="ms-3"><a class="text-muted"
                        href="https://www.linkedin.com/in/robert-constantin-gengiu-ab3a2b277/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i
                            class="fab fa-linkedin"></i></a></li>
            </ul>

        </footer>
    </div>
</div>